$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$retina-x2: 2dppx;

$color-primary: #a87b62;
$color-main-black: #1d1613;
$color-white: #ffffff;
$color-white-015: rgba(255, 255, 255, 0.15);
$color-black: #000000;
$color-gray: #9b9997;
$color-text: $color-main-black;
$background-color-primary: $color-white;
$background-color-secondary: #f0eae4;
$background-color-overlay: rgba(29, 22, 19, 0.25);
$border-color: $color-primary;
$border-color-gray: #f6f5f4;

$font-family-primary: "Poppins", "Arial", sans-serif;
$font-family-secondary: "Cormorant Garamond", "Georgia", serif;

$font-size: 16px;
$line-height: 21px;
$color-text: $color-black;
$font-weight: 500;
