.blog {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  align-items: start;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: normal;
  }
}

.blog__item {
  position: relative;
  display: flex;

  @include tablet {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
  }

  @include mobile {
    flex-direction: column;
    margin-bottom: 40px;
  }

  &--pic-right {
    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &--big {
    grid-row: 1/-1;
    grid-column: 2/-2;

    @include mobile {
      margin-bottom: 0;
    }
  }
}

.blog__item picture {
  line-height: 0;
}

.blog__item img {
  object-fit: cover;
  height: 100%;

  @include tablet {
    width: 100%;
  }
}

.blog__item--big img {
  object-fit: cover;
  height: 630px;

  @include tablet {
    height: 100%;
  }
}

.blog__container {
  width: 285px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  background-color: $background-color-secondary;
  padding: 67px 56px 20px;

  @include tablet {
    width: 50%;
    justify-content: center;
    padding: 0 84px;
  }

  @include mobile {
    width: 100%;
    min-height: 256px;
    padding-left: 59px;
    padding-right: 59px;
  }

  &--big {
    position: absolute;
    max-height: 630px;
    bottom: 0;
    right: 0;

    @include tablet {
      position: static;
    }
  }
}

.blog__container time {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $color-gray;
  margin-bottom: 13px;
}

.blog__container h2 {
  @include style-reset;
  font-family: $font-family-secondary;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 37px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog__container a {
  color: $color-main-black;
  border-bottom: 1px solid $color-primary;
  text-align: center;
  padding-bottom: 4px;
}
