.btn {
  @include btn-reset;
}

.btn__burger {
  display: none;

  @include tablet {
    width: 39px;
    height: 40px;
    position: absolute;
    top: 13px;
    left: -6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      @include animation;
      color: $color-primary;
    }
  }
}

.btn__search {
  position: absolute;
  top: 4px;
  left: 10px;

  @include tablet {
    top: 12px;
    left: 13px;
  }

  &:hover,
  &:focus {
    @include animation;
    color: $color-primary;
    opacity: 0.7;

    @include tablet {
      color: $color-white;
    }
  }

  &:active {
    @include animation;
    color: $color-primary;
    opacity: 1;

    @include tablet {
      color: $color-white;
    }
  }
}

.btn__search svg {
  width: 14px;
  height: 14px;

  @include tablet {
    width: 16px;
    height: 16px;
  }
}

.btn__img {
  color: $color-main-black;
}

.btn__submit {
  position: absolute;
  top: -2px;
  right: -1px;
  min-width: 103px;
  min-height: 36px;
  color: $color-white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn__submit span {
  padding-right: 42px;
}

.btn__submit svg {
  position: absolute;
  top: 12px;
  right: 0;
  width: 30px;
  height: 11px;
}

.btn__slider {
  position: absolute;
  top: 164px;
  width: 30px;
  height: 18px;

  @include tablet {
    top: 109px;
    width: 38px;
    height: 20px;
  }

  @include mobile {
    display: none;
  }

  &--right {
    right: 1px;

    @include tablet {
      right: 6px;
    }
  }

  &--left {
    left: 1px;

    @include tablet {
      left: 6px;
    }
  }
}

.btn__slider svg {
  color: $color-primary;

  @include tablet {
    width: 38px;
    height: 21px;
  }
}

.btn__slider svg:hover,
.btn__slider svg:focus {
  @include animation;
  opacity: 0.7;
}

.btn__slider svg:active {
  @include animation;
  opacity: 0.5;
}

.btn__accordion {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  &--catalog {
    height: 60px;
  }
}

.btn__accordion svg {
  @include animation;
  position: absolute;
  top: 50px;
  right: 48px;
  fill: transparent;
  color: $color-primary;
  z-index: -1;

  @include tablet {
    width: 25px;
    height: 18px;
    top: 46px;
    right: 48px;
  }

  @include mobile {
    width: 22px;
    height: 16px;
    top: 21px;
    right: 23px;
  }
}

.btn__accordion--catalog svg {
  top: 28px;
  right: 23px;

  @include tablet {
    top: 37px;
    right: 39px;
  }

  @include mobile {
    top: 28px;
    right: 19px;
  }
}

.btn__accordion svg:hover,
.btn__accordion svg:focus {
  @include animation;
  color: $color-main-black;
}

.btn__accordion svg:active {
  @include animation;
  color: $color-main-black;
  opacity: 0.5;
}

//###### Catalog

.btn__filter {
  width: 100%;
  min-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: $color-white;

  @include tablet {
    width: 85.5%;
    margin-left: 21px;
  }

  @include mobile {
    margin-left: 0;
  }

  &--submit {
    margin-bottom: 25px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &--reset {
    background-color: transparent;
    color: $color-main-black;
  }

  &--main {
    display: none;

    @include tablet {
      width: 99%;
      display: block;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    @include mobile {
      width: 98%;
      margin-bottom: 40px;
    }
  }

  &--login {
    width: 100%;
    margin-left: 0;
  }
}

.btn__pagination {
  background-color: transparent;
  border: 0;
  color: $color-gray;
  cursor: pointer;
  padding: 6px;

  @include mobile {
    padding-left: 12px;
    padding-right: 12px;
  }

  &--active {
    color: $color-main-black;
  }
}

.btn__slider {
  &--next {
    width: 67px;
    top: 6px;
    right: -15px;

    @include tablet {
      top: 5px;
      right: -11px;
    }
  }

  &--prev {
    width: 67px;
    top: 6px;
    left: 2px;

    @include tablet {
      top: 5px;
      left: 5px;
    }
  }
}

.btn__close {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -18px;
  right: -16px;
  justify-content: center;
  align-items: center;

  @include tablet {
    display: flex;
    border-radius: 50%;
    background-color: $color-main-black;
    z-index: 10;
  }

  @include mobile {
    top: -16px;
    right: -10px;
  }

  &--modal {
    display: flex;
    top: -36px;
    right: -24px;
    background-color: transparent;
    z-index: 150;

    @include tablet {
      top: -35px;
      right: -18px;
    }

    @include mobile {
      top: -32px;
      right: -9px;
    }
  }

  &--login {
    top: 11px;
    right: 11px;

    @include tablet {
      top: 14px;
      right: 13px;
    }

    @include mobile {
      top: 6px;
      right: 7px;
    }
  }
}

.btn__close svg {
  color: $color-white;

  @include mobile {
    width: 14px;
    height: 14px;
  }
}

.btn__close--modal svg {
  color: $color-main-black;
}

.btn__close--login svg {
  @include tablet {
    width: 20px;
    height: 20px;
  }

  @include mobile {
    width: 14px;
    height: 14px;
  }
}

.btn__buy {
  margin-bottom: 17px;

  @include tablet {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }

  @include mobile {
    margin-bottom: 12px;
  }
}

.btn__counter {
  position: relative;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  margin-right: -10px;
  margin-bottom: 3px;

  @include tablet {
    margin-top: -2px;
    margin-bottom: -2px;
  }

  @include mobile {
    margin-top: -1px;
    margin-bottom: 8px;
  }

  &--minus {
    @include mobile {
      margin-bottom: 0;
    }
  }
}

.btn__counter svg {
  position: absolute;
  top: 7px;
  left: 6px;
  color: $color-gray;
}

.btn__counter--minus svg {
  top: 12px;
}

.btn__modal {
  width: 46.4%;

  @include tablet {
    margin-left: 0;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 0;
  }

  &--catalog {
    background-color: transparent;
    color: $color-main-black;

    @include mobile {
      margin-bottom: 20px;
    }
  }
}
