.form__search {
  position: relative;
  width: 35%;
  display: flex;
  margin-top: 11px;

  @include tablet {
    width: 100%;
    display: none;
    margin-top: 40px;
    order: 1;
  }

  @include mobile {
    margin-top: 23px;
  }
}

.form__search input {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  padding-left: 39px;
  color: $color-main-black;
  border: none;
  outline-offset: 3px;

  @include tablet {
    background-color: $color-white-015;
    color: white;
    border-radius: 21px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form__search input::-webkit-search-cancel-button {
  appearance: none;
  background-image: url("../img/svg/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  width: 12px;
  height: 12px;

  @include tablet {
    display: none;
  }
}

.form__search input::placeholder {
  color: $color-gray;

  @include tablet {
    visibility: hidden;
  }
}

.form__submit {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 0;
}

.form__submit input {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-white;
  border-radius: 0;
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
  background-color: transparent;
  outline-offset: 3px;
  padding: 8px 103px 10px 1px;
}

.form__submit input::placeholder {
  color: $color-gray;
}


.form__submit:hover .btn__submit {
  @include animation;
  opacity: 0.7;
}

.btn__submit:focus .btn__submit,
.btn__submit:active .btn__submit {
  @include animation;
  opacity: 1;
}


.form__login {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form__login input {
  border-color: $color-main-black;
  color: $color-main-black;
  padding-right: 1px;
  margin-bottom: 29px;

  @include mobile {
    margin-bottom: 24px;
  }
}

.form__login input:last-of-type {
  margin-bottom: 5px;
}

.form__login a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $color-gray;
  margin-left: auto;
  margin-bottom: 45px;

  @include mobile {
    margin-bottom: 35px;
  }
}

.form__login a:hover,
.form__login a:focus {
  @include animation;
  opacity: 0.7;
}

.form__login a:active {
  @include animation;
  opacity: 1;
  color: $color-main-black;
}
