.products {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 2px;

  @include tablet {
    padding: 0 5px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.products__list {
  @include list-reset;
  width: 100%;
  display: flex;
  margin-bottom: 46px;

  @include tablet {
    margin-bottom: 38px;
  }

  @include mobile {
    margin-bottom: 32px;
  }
}

.products__list .swiper-slide {
  width: 270px;

  @include tablet {
    width: 324px;
  }

  @include mobile {
    width: 130px;
  }
}

.products__item {
  @include style-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__item:hover > a,
.products__item:focus > a {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.products__item a {
  display: flex;
  margin-bottom: 24px;
  line-height: 0;

  @include tablet {
    margin-bottom: 15px;
  }
}

.products__item img {
  @include tablet {
    width: 324px;
    height: 340px;
  }

  @include mobile {
    width: 130px;
    height: auto;
  }
}

.products__item p {
  @include style-reset;
  border-bottom: none;
  margin-bottom: 6px;
  text-align: center;

  @include tablet {
    margin-bottom: 12px;
  }

  @include mobile {
    margin-bottom: 7px;
  }
}

.products__item span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.products__pagination {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.products__pagination .swiper-pagination-bullet,
.main__pagination .swiper-pagination-bullet {
  @include btn-reset;
  color: $color-gray;
  cursor: pointer;
  padding: 6px;

  @include tablet {
    padding: 6px 7px;
  }
}

.products__pagination .swiper-pagination-bullet:hover,
.products__pagination .swiper-pagination-bullet:focus,
.main__pagination .swiper-pagination-bullet:hover,
.main__pagination .swiper-pagination-bullet:focus {
  opacity: 0.5;
}

.products__pagination .swiper-pagination-bullet-active,
.main__pagination .swiper-pagination-bullet-active {
  color: $color-main-black;
}

.products__pagination .swiper-pagination-bullet-active:hover,
.products__pagination .swiper-pagination-bullet-active:focus,
.main__pagination .swiper-pagination-bullet-active:hover,
.main__pagination .swiper-pagination-bullet-active:focus {
  opacity: 1;
}

//###### Catalog

.products--catalog {
  width: 74.5%;
  flex-direction: column;
  overflow: visible;
  padding: 0;
  margin-bottom: 0;

  @include tablet {
    width: 100%;
  }
}

.products__list--catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;

  @include mobile {
    margin-bottom: 12px;
  }
}

.products__item--catalog {
  width: 31%;
  margin-right: 30px;
  margin-bottom: 36px;

  @media (max-width: 1343px) {
    margin-right: 22px;
  }

  @include tablet {
    margin-bottom: 36px;
    margin-right: 23px;
  }

  @include mobile {
    width: 46%;
    margin-bottom: 26px;
  }

  &:nth-child(3n) {
    margin-right: 0;

    @include mobile {
      margin-right: 23px;
    }
  }

  &:nth-child(2n) {
    @include mobile {
      margin-right: 0;
    }
  }
}

.products__item--catalog a {
  margin-bottom: 21px;

  @include mobile {
    margin-bottom: 16px;
  }
}

.products__item--catalog p {
  margin-bottom: 6px;
}

.products__item--catalog img {
  @media (max-width: 1343px) {
    width: 95%;
    object-fit: cover;
  }

  @include tablet {
    width: auto;
    height: auto;
  }
}
